<div class="well sidebar-nav" style="height: 84%; overflow: auto;">
    <ul class="nav nav-list" >
        <li class="nav-header">Clients</li>
    </ul>
    <div class="nav nav-list">
        <span class="nav-header">
            <input type="text"
                   class="clientListControl"
                   ng-model="query"
                   placeholder="search for a client by name...">
        </span>
    </div>
    <div class="nav nav-list">
        <span class="nav-header">
            <select ng-model="clientsOrderProp" class="clientListControl">
                <option selected value="">Sort by...</option>
                <option value="name">Alphabetical</option>
                <option value="-numMisconfigured">Misconfigurations</option>
                <option value="-numPotentialEdges">Potential Edges</option>
            </select>
        </span>
    </div>
    <ul ng-controller="ClientListCtrl" class="nav nav-list">
        <li ng-repeat="client in clients | filter:query | orderBy:clientsOrderProp"
            ng-class="{active: activeClient == client.clientId}"
            ng-click="goToDetails(client.clientId)">
            <a href="#/client/{{client.clientId}}">
                <span>{{client.name}}</span>
                <span class="client-notification client-edge">{{client.numPotentialEdges}}</span>
                <span class="client-notification client-misconfiguration">{{client.numMisconfigured}}</span>
            </a>
        </li>
    </ul>
</div><!--/.well -->