<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}BV Bootstrap{{/i}}</h1>
    <p>{{_i}}An on-brand, sleek, intuitive, and powerful front-end framework for faster and easier web development, compatible with Twitter's <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>{{/i}}
    </p>
    <p>
      <a href="./assets/bvbootstrap.zip" class="btn btn-primary btn-large" {{#production}}onclick="return false;"{{/production}}>{{_i}}Download BVBootstrap{{/i}}</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/bazaarvoice/bootstrap" {{#production}}onclick="return false;"{{/production}}>{{_i}}GitHub project{{/i}}</a>
      </li>
      <li>
        <a href="./getting-started.html#examples" {{#production}}onclick="return false;"{{/production}}>{{_i}}Examples{{/i}}</a>
      </li>
      <li>
        <a href="./extend.html" {{#production}}onclick="return false;"{{/production}}>{{_i}}Extend{{/i}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="main" style="margin-top: 30px;">

    <div class="marketing">

      <h1>{{_i}}Introducing BVBootstrap.{{/i}}</h1>
      <p class="marketing-byline">{{_i}}Why use Bootstrap at Bazaarvoice?{{/i}}</p>

      <div class="row-fluid">
        <div class="span4">
          <h2>{{_i}}Loosely-coupled teams.{{/i}}</h2>
          <p>{{_i}}Awesome for innovation, not so awesome for the user experience. Bootstrap is both a living example and the glue to keep our R&D department on-brand and on-target so client users get a consistent experience.{{/i}}</p>
        </div>
        <div class="span4">
          <h2>{{_i}}Responsive and retina-ready{{/i}}</h2>
          <p>{{_i}}With <a href="./scaffolding.html#responsive">responsive</a> options for page layouts, responsive helper classes, and font-driven icons out of the box, this is an easiest way to get your app minimally responsive. It shouldn't replace continuing education and thoughtful design, but it's a start.{{/i}}</p>
        </div>
        <div class="span4">
          <h2>{{_i}}Thanks, <a href="http://twitter.com/mdo">@mdo</a> and <a href="http://twitter.com/fat">@fat</a>{{/i}}</h2>
          <p>{{_i}}Twitter's project is incredibly well-documented and developed. Read it if you haven't already.{{/i}}</p>
          <p>{{_i}}Plus, teams around the company (and the world) are already using it. We'll do our best to make sure Bootstrap markup is compatible with BV Bootstrap with no effort on your part, so you can work in a familiar framework or even swap out the resources on an existing project and instantly be in sync with the rest of the BV client-facing ecosystem.{{/i}}</p>
      </div>
       </div>

    </div>{{! /.marketing }}

  </div>{{! /.main }}

</div>{{! /.container }}
